<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="XamarinersMyget" value="https://www.myget.org/F/xamariners-feed/auth/013a5f91-ab9f-4ab3-a89c-574b1ea1b65f/api/v3/index.json" />
    <add key="SGAirForce" value="https://pkgs.dev.azure.com/xamariners/_packaging/SGAirForce/nuget/v3/index.json" />
  </packageSources>
</configuration>