<Stack VerticalFill="true" VerticalAlign="@Alignment.Center" HorizontalAlign="@Alignment.Center">
	<StackItem Align="@Alignment.Center" Style="height:auto">
		<div class="logoutContent">
            <h2>You are not authorized to access this resource.</h2>
		</div>
	</StackItem>
</Stack>
