<Stack VerticalFill="true" VerticalAlign="@Alignment.Center" HorizontalAlign="@Alignment.Center">
	<StackItem Align="@Alignment.Center" Style="height:auto">
		<div class="logoutContent">
			<h2>You signed out of your account</h2>
			<p>It's a good idea to close all browser windows.</p>
		</div>
	</StackItem>
</Stack>
