@using BlazorFluentUI.Routing

<Stack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <StackItem VerticalFill="true" Style="overflow-y: auto;">
        <div>
            <NavBar Direction="LayoutDirection.Vertical" Items=@_items />
        </div>
    </StackItem>
</Stack>