<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- GENERAL -->
    <add key="app.name" value="SwiftCaps" />
    <add key="app.config" value="test" />
    <add key="raygun.apikey" value="BBjrTbxBCXa46eCor8OhkA" />
    <add key="locale.default" value="en-SG" />
    <add key="app.store.ios" value="https://itunes.apple.com/sg/app/" />
    <add key="app.store.droid" value="https://play.google.com/store/apps/" />
    <!-- QUIZ LAYOUT STYLE - INLINE | SEPARATE -->
    <add key="quiz.answers.layout" value="separate" />
    <!--APP CENTRE-->
    <add key="appcenter.logtag" value="SwiftCaps" />
    <add key="appcenter.androidkey" value="1955cff3-34d4-4b81-a2ec-909f4d0200b5" />
    <add key="appcenter.ioskey" value="f75f8782-fb43-4b6c-b4dc-7abf2cded4de" />
    <!-- API -->
    <add key="api.endpoint" value="https://apim-af-test.azure-api.net/api/" />
    <add key="apim.subscriptionkey" value="67ac632e8719419b878872f66740ca84" />
    <!-- IDENTITY -->
    <add key="identity.client.id" value="701274c3-f6c1-4e9f-a2f0-3d30e709ab5a" />
    <add key="identity.tenant.id" value="e1a3a490-d0ff-4511-be8a-59354fb71fde" />
    <add key="identity.scope" value="https://swiftcaps.api/.default" />
    <add key="api.logintype" value="0" />
    <add key="api.timeout" value="120000" />
    <!-- CUTE ERROR -->
    <add key="cuteerror.enabled" value="true" />
    <add key="cuteerror.title" value="Notice" />
    <add key="cuteerror.description" value="That did not go according to plan. Please retry later." />
    <!--FAKE-->
    <add key="fakeassembly.name" value="SwiftCaps.Fake" />
  </appSettings>

</configuration>
