<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- GENERAL -->
    <add key="app.name" value="__config.app.name__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="app.config" value="__config.app.config__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="raygun.apikey" value="__config.raygun.apikey__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="locale.default" value="__config.locale.default__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="app.store.ios" value="__config.app.store.ios__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="app.store.droid" value="__config.app.store.droid__" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--APP CENTRE-->
    <add key="appcenter.logtag" value="__config.appcenter.logtag__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appcenter.androidkey" value="__config.appcenter.ioskey__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appcenter.senderid" value="__config.appcenter.senderid__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="appcenter.ioskey" value="__config.appcenter.androidkey__" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--REST CLIENT-->
    <add key="api.endpoint" value="__config.api.endpoint__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="api.auth" value="__config.api.auth__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="api.logintype" value="__config.api.logintype__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="api.timeout" value="__config.api.timeout__" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- CUTE ERROR -->
    <add key="cuteerror.enabled" value="__config.cuteerror.enabled__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="cuteerror.title" value="__config.cuteerror.title__" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="cuteerror.description" value="__config.cuteerror.description__" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--FAKE-->
    <add key="fakeassembly.name" value="__config.fakeassembly.name__" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>